@page "/AreaChart"

<h1>Area chart</h1>

<p>
    An area chart is an XY chart with an area layer, in which the data is displayed as filled shapes connecting the points at positions corresponding to the 
    data values. As can be seen in <a href="/ChartBasics">chart basics</a>, an area layer can be either stacked or unstacked. A stacked area layer stacks
    positive and negative values together to more clearly express the relationship between data layers. For area charts, there are currently not additional
    customization options.
</p>

<h2 class="mt-3">Parameters</h2>

<div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="isStacked">Stack mode</label>
        <select class="form-select" id="isStacked" @onchange="args => IsStacked = bool.Parse(args.Value?.ToString()!)">
            <option value="false" selected="@(!IsStacked)">Unstacked</option>
            <option value="true" selected="@IsStacked">Stacked</option>
        </select>
    </div>
</div>

<h2 class="mt-3">Chart</h2>

<XYChart Labels="ExampleData.Labels">
    <Canvas Height="500" Width="1000" XAxisLabelHeight="50" YAxisLabelWidth="75" Padding="25" />
    <AreaLayer IsStacked="IsStacked">
        @foreach (var dataSeries in ExampleData.AreaDataSeries) {
            <DataSeries DataPoints="dataSeries" />
        }
    </AreaLayer>
</XYChart>

<h2 class="mt-3">Source data</h2>

<table class="table">
    <tr>
        @foreach (var label in ExampleData.Labels) {
            <th>@label</th>
        }
    </tr>

    @foreach (var dataSeries in ExampleData.AreaDataSeries) {
        <tr>
            @foreach (var dataPoint in dataSeries) {
                <td>@(dataPoint?.ToString("#,##0") ?? "-")</td>
            }
        </tr>
    }
</table>

@code {
    private bool IsStacked { get; set; } = false;
}