@page "/"

<h1>Home</h1>

<p>
    VDT.Core.Blazor.XYChart is a component that allows you to easily and declaratively create any combination of bar chart, line chart, and area chart. It
    allows for manual and automatic scaling, customization of plot area dimensions, and since the chart is rendered as SVG it can be styled fully using css.
</p>

<p>
    Go to <a href="/ChartBasics">chart basics</a> to get started or see one of the other pages for more detailed information.
</p>
