::deep .chart-main .plot-area {
    stroke: #787c80;
}

::deep .chart-main .grid-line {
    stroke-dasharray: initial;
}

::deep .chart-main .x-axis-label {
    transform-box: fill-box;
    transform-origin: 50% 50% 0;
    transform: rotate(-90deg) translate(-50%, 0);
    dominant-baseline: central;
}

::deep .chart-main .y-axis-label, ::deep .chart-main .y-axis-label {
    font-family: Courier New, Courier, monospace;
}

::deep .chart-main .line-data {
    stroke-opacity: 0.8;
}

::deep .chart-main .bar-data {
    fill-opacity: 0.8;
    stroke: #787c80;
    stroke-opacity: 0.8;
}

::deep .chart-main .area-data {
    fill-opacity: 0.6;
    stroke: #787c80;
    stroke-opacity: 0.6;
}

::deep .chart-main .data-marker {
    transform-box: fill-box;
    transform-origin: 50% 50% 0;
    transform: rotate(45deg);
    fill-opacity: 0.6;
    stroke: #787c80;
    stroke-opacity: 0.6;
}

::deep .chart-main .emphasized {
    fill-opacity: 1;
    stroke-opacity: 1;
}

::deep .chart-main .data-label[data-negative] {
    fill: #dd0000;
}

